.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #c1a769;
  color: #c1a769;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #c58a00;
  border-color: #c58a00;
}
